.container {
    max-width: 600px;
    margin: auto;
}

.tooltip {
    text-align: left;
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    color: black;
    padding-left: 7px;
    line-height: normal;
    max-width: 700px;
}

h2 {
    font-family: "Ubuntu", sans-serif;
    margin: 10px;
}

h4 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    margin: 10px;
    margin-bottom: 20px;
}

a {
  color: #799428;
}

/* unvisited link */
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  text-decoration: underline;
}
